#Header .qiangou{top:230px;}
#Main{
    .zhao{
        cursor:default;height: 62px;height: 62px;font-size:14px;color:#999;padding-top:23px;margin-bottom:36px;
        .container{border-bottom:1px solid #ddd;}
        .ykuang{border:1px solid #ddd;padding:0 8px;color:#333;}
    }
    .da{height: 545px;overflow:hidden;cursor:default;
        .fdj{margin:0;float:left;margin-right:29px;}
        .nr{width: 661px;
            .tou{
                font-size:14px;color:#999;
                .qi{color:red;margin-right:10px;}
            }
            .ri{display:inline-block;vertical-align:middle; width: 25px;height: 25px;border-radius:50%;background:#DF3227;margin-right:8px;}
            .content{height: 36px;font-size:18px;font-weight:600;color:#333;margin-top:10px;}
            .jia{
                width: 660px;height: 79px;border:1px solid #ddd;background:#F9F9F9;color:#999;font-size:12px;padding:15px 0 0 11px;margin-bottom:14px;
                .p1{
                    .xianjia{font-size:22px;font-weight:600;margin:0 14px 0 50px;color:#E31436;}
                }
                .p2{padding:5px 0 0 80px;color:#333;
                    img{width: 52px;height: 16px;margin-right:10px;}
                    .kt{margin-left:31px;}
                }
            }
            .p4{
                font-size:12px;padding-left:11px;margin-bottom:14px;
                .huo{color:#666;}
                .ns{color:#fff;background:#E31436;padding:2px 5px;margin:0 8px 0 48px;}
            }
            .p5{
                margin-bottom:14px;font-size:12px;color:#333;padding-left:11px;
                .shu{color:#666;margin-right:50px;}
                .jian{display:inline-block;vertical-align:middle; width: 23px;height: 23px;border:1px solid #ddd;background:#F3F3F3;text-align:center;font-size:22px;line-height: 20px;}
                .jiajia{display:inline-block;vertical-align:middle; width: 23px;height: 23px;border:1px solid #ddd;text-align:center;font-size:22px;line-height: 20px;margin-right:10px;}
                .shuliang{display:inline-block;vertical-align:middle; width: 56px;height: 23px;line-height: 23px;border:1px solid #ddd;border-left:0;border-right:0;text-align:center;}
            }
            .p6{
                margin-bottom:20px;font-size:12px;color:#333;padding-left:11px;
                .shuo{color:#666;margin-right:50px;}
                .ka{margin-right:10px;}
                .gou{color:#999;margin-right:5px;font-size:15px;}
            }
            .maijia{
                .limai{width: 162px;height: 50px;border:2px solid #E31436;color:#E31436;background:#FFECED;margin-right:20px;text-align:center;font-size:20px;line-height: 50px;font-weight:600;}
                .jiacar{width: 180px;height: 50px;color:#fff;background:#E31436;margin-right:34px;text-align:center;font-size:20px;line-height: 50px;font-weight:600;}
                .shou{color:#666;font-size:14px;padding-top:18px;}
            }
            .pl{
                width: 660px;height: 112px;border-top:1px dotted #ccc;font-size:14px;color:#666;line-height: 20px;margin-top:14px;
                .g1{height: 36px;line-height: 36px;}
            }
        }
    }
    .tuijian{width: 1090px;height: 224px;overflow:hidden;border:1px solid #ddd;margin-top:20px;
        li{float:left;width: 169px;font-size:12px;color:#333;padding-left:44px;}
        img{width: 140px;}
        .p1{height: 32px;overflow:hidden;}
        .p2{
            .xianjia{color:#E31436;font-size:19px;
            }
            .yuanjia{font-size:12px;color:#999;}
        }
        .pl{color:#999;}
    }
    .keyou{overflow:hidden;margin-top:43px;}
    .kyk{
        width: 180px;border:1px solid #ddd;
        .ti{font-weight:600;color:#333;border-bottom:1px solid #ddd;height: 39px;line-height: 39px;padding-left:10px;}
        .kykul{width: 180px;overflow:hidden;margin-top:20px;
            li{width: 169px;height: 237px;border-bottom:1px solid #ddd;font-size:12px;color:#333;text-align:center;padding:0 12px;}
            img{width: 140px;}
            .p1{height: 32px;overflow:hidden;}
            .p2{margin-top:12px;
                .xianjia{color:#E31436;font-size:19px;
                }
                .yuanjia{font-size:12px;color:#999;}
            }
            .pl{color:#999;}
        }
    }
    .xiangping{
        width: 890px;border:1px solid #ddd;
        .hezi1{
            width: 890px;height: 50px;background:#F8F8F8;border-bottom:1px solid #ddd;font-size:16px;line-height: 50px;color:#333;padding-right:15px;overflow:hidden;
            .s1{width: 160px;height: 50px;border-right:1px solid #ddd;background:#fff;color:#D41C44;border-top:2px solid #D41C44;text-align:center;font-weight:600;border-bottom:1px solid #fff;}
            .s2{width: 160px;height: 50px;border-right:1px solid #ddd;text-align:center;
                .pls{color:#D41C44;}
            }
        }
        .hezi2{
            width: 890px;height: 105px;border-bottom:1px solid #ddd;padding:21px;font-size:12px;color:#333;line-height: 24px;
            ul{
                li{
                    width: 281px;float:left;
                    p{height: 24px;overflow:hidden;}
                }

            }
            .zhan{color:#51B8F3;}
        }
        .hezi3{
            width: 890px;height: 95px;border-bottom:1px solid #ddd;font-size:13px;color:#333;padding:15px 0 0 21px;line-height: 19px;
            .zhen{width: 40px;height: 40px;border-radius:50%;background:#E31436;color:#fff;font-size:24px;text-align:center;line-height: 40px;margin-right:13px;}
            .jiapei{
                p:first-child{font-size:18px;font-weight:600;margin-bottom:10px;}
            }
        }
        .hezi4{width: 890px;}
    }
}